<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> QuickRead </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAddLinkModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QuickRead</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    placeholder="Search articles"
    (ionChange)="filterArticles($event)"
  >
  </ion-searchbar>

  <div *ngIf="articles.length === 0" class="empty-state">
    <ion-text color="medium">
      <h2>No articles saved yet</h2>
      <p>Tap the '+' button to add your first article</p>
    </ion-text>

    <div class="icon-container">
      <ion-icon
        (click)="clearTagSearch()"
        *ngIf="showClearTagSearchButton"
        name="remove-circle-outline"
        class="center-icon"
        color="primary"
        size="large"
      ></ion-icon>
    </div>
  </div>

  <ion-icon
    (click)="clearTagSearch()"
    *ngIf="showClearTagSearchButton"
    name="remove-circle-outline"
  ></ion-icon>

  <ion-list>
    <ion-item-sliding *ngFor="let article of filteredArticles">
      <ion-item (click)="viewArticleDetails(article)">
        <ion-thumbnail slot="start" *ngIf="article.metadata?.extractedImage">
          <ion-img
            [src]="article.metadata?.extractedImage ||  '../../assets/Article.png'"
            (ionError)="onImageError($event)"
          ></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ article.metadata?.extractedTitle }}</h2>
          <p>{{ article.description }}</p>
        </ion-label>

        <ng-container *ngIf="article.tags?.length">
          <ion-chip
            slot="end"
            *ngFor="let tag of article.tags"
            color="secondary"
            outline
            (click)="tagSearch($event, tag)"
          >
            <ion-icon name="pricetag-outline"></ion-icon>
            <ion-label>{{ tag }}</ion-label>
          </ion-chip>
        </ng-container>

        <ion-button slot="end" (click)="openEditLinkModal($event,article)"
          >Edit</ion-button
        >
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteArticle(article)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary" (click)="shareArticle(article)">
          <ion-icon name="share"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
